---
import DefaultHead from "../components/Head/DefaultHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";

let title = "Nichts zu finden";
let description = "";
---

<html lang="de">
  <head>
    <DefaultHead title={title} description={description} />
  </head>

  <body class="bg-white text-black font-body leading-normal">
    <Navbar />
    <main class="py-12 lg:py-20">
      <section class="max-w-6xl mx-auto px-3">
        <header class="mx-auto max-w-3xl text-center content font-subtext">
          <h1 class="mb-4 font-subtext">404</h1>
          <h1 class="mb-4 font-subtext">
            Hier gibt es leider nichts zu finden
          </h1>
          <p>Versuche es mal auf:</p>
          <p>
            <a
              href="https://projekt.waswennsklappt.de/"
              class="font-bold hover:text-pink"
              >https://projekt.waswennsklappt.de/</a
            >
          </p>
          <p>
            <a
              href="https://podcast.waswennsklappt.de/"
              class="font-bold hover:text-pink"
              >https://podcast.waswennsklappt.de/</a
            >
          </p>
        </header>
      </section>
    </main>
    <Footer />
  </body>
</html>
